.field {
	height: 49px;
	width: 49px;
	border: 1.5px solid rgb(219, 68, 69);
	background-color: rgb(194, 194, 194);
}

#letterind {
	background-color: white;
	border: 0px;
}

#blankspace {
	background-color: white;
	border: 0px;
}

h1 {
	color: rgb(219, 68, 69);
	font-family: "Averia Sans Libre", ;
}

#divider {
	background-color: white;
	border: 0px;
}

#letterind, #divider {
	text-align: center;
	line-height: 13px;
}

.fieldgrid {
	background-color: white;
	height: auto;
	width: auto;
	display: inline-grid;
	grid-template-columns: repeat(21, 1fr);
}

#top, #topleft, #topright {
	border-top: 5px;
}

#left, #topleft, #bottomleft {
	border-left: 5px;
}

#right, #topright, #bottomright {
	border-right: 5px;
}

#bottom, #bottomleft, #bottomright {
	border-bottom: 5px;
}