body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 
body {
	background: red;
}

.gridcontainer {
	width: 500px;
	height: 500px;
}

.row div {
	outline: 1px solid black;
	background: turquoise;
	width: 5px;
	height: 5px;
	float: left;
}